
.nav{
    display: flex;
    justify-content:center;
    width: 100%;
}
.button{
    display: inline-flex;
    justify-content: space-between ;
    background-color: #FFF;
    color: #000;
    margin: 5px;
    padding: 5px 8px;
    border: 1px solid #CDAB6E;
    border-radius: 9px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line: none;
}
.button:hover{
    color: #6164ef ;
}
.button_active{
    display: inline-flex;
    justify-content: space-between ;
    background-color: #6164ef;
    color: #FFF;
    margin: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 9px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line: none;
}

.button_container {
    display: flex;
    justify-content: space-around;
}