
.nav{
    display: flex;
    justify-content:center;
    width: 100%;
}
.button{
    background-color: #403c89;
    color: #FFF;
    margin: 10px;
    padding: 10px 15px;
    border: none    ;
}
.button:hover{
    background-color: #57329c;
}