
.nav{
    display: flex;
    justify-content:center;
    width: 100%;
}
.button{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    color: #000;
    margin: 5px;
    padding: 5px 8px;
    border: 1px solid #b4d1eb;
    border-radius: 9px;
    font-family: 'Times New Roman', Times, serif;
}
.button:hover{
    color: #6164ef;
}