.button{
    text-align: end;
}
.addRow{
    padding: 8px 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #178150;;
    color: #FFF;
    border-color:#198754;
    border-radius: 9 px;
    text-align: center;
    justify-content: center;
}
.addRow:hover{
    background-color: #157347;
}
.row_input{
    width:50px;
}