.button_field{
    text-align: end;
}
.create_button{
    margin-bottom: 7px;
    padding: 3px 8px;
    background: #FFF;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 5px;
}
.create_button:hover{
    background-color: #0d6efd;
    color: #FFF;
}
.input_field{
    margin-top: 2px;
    justify-content: center;
    max-width: 100px;
    text-align: center;
}
.table_select{
    margin-top: 2px;
    width: 150px;
    line-height:20px;
}
/* .handle_modal_button{
    padding: 3px;
    margin-left: 10px;
    margin-top: 3px;
    border: none;
    background-color: #d5aa66;;
    color: #000;
    font-size: 12px;
} */
