.button_field{
    text-align: end;
}
.create_button{
    margin: 5px;
    padding: 5px 15px;
    background-color: #d5aa66;
    color: #000;
    border: none;
}
.addRow{
    padding: 5px 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color:#2fca75;
    color: #000;
    border: none;
    text-align: center;
    justify-content: center;
}
.addRow:hover{
    background-color: #2bc06e;
}
.tab_button{
    margin: 5px;
    padding: 8px 15px;
    background-color: #403c89   ;
    color: #FFF;
    border: none;
}
.input_field{
    justify-content: center;
    border: none;
    max-width: 100px;
}
.table_select{
    width: 150px;
    border: none;
}
.handle_modal_button{
    padding: 3px;
    margin-left: 10px;
    border: none;
    background-color: #d5aa66;;
    color: #000;
    font-size: 12px;
}
.delete_row_button{
    border: none;
}